@import 'tailwindcss';

@font-face {
  font-family: 'Overused Grotesk';
  src: url('./assets/fonts/OverusedGrotesk-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('./assets/fonts/OverusedGrotesk-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

/* Reset */

body {
  font-family: 'Inter', sans-serif;
  background-color: #17171b;
}

/* Custom */

@theme {
  --color-negro-main: #17171b;
  --color-negro-genre: #1e1f24;
  --color-blanco-main: #fff;
  --color-rojo-main: #dc143c;
  --color-gris-placeholder: #90949c;
  --color-gris-border: #dddfe2;

  --color-negro-traslucido: rgba(30, 31, 36, 0.60);
  --color-blanco-traslucido: rgba(255, 255, 255, 0.12);

  /* New */

  --color-neon-orange-500: #df7701;
  --color-neon-orange-200: #feab4d;

  --color-grey-background: #3f4041;
  --color-grey-border: #858585;
  --color-grey-text: #cecece;

  --color-main-white: #ffffff;

  --font-overused-grotesk: 'Overused Grotesk'
}
